@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@200&family=Space+Grotesk:wght@300;400;700&family=Tilt+Neon&display=swap');

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #030303;
}

@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
