@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #030303;
}

@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: solid 4px;
  border-image: linear-gradient(45deg, purple, orange) 1;
}

.header .logo {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.header .nav {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  font-weight: 600;
}

.header .nav a {
  color: #030303;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  padding: 5px 10px;
  margin: 10px;
  transition-duration: 0.8s;
}

.header .nav a:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
}

.header .nav .login {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #030303;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, purple, orange);
  padding: 1rem;
  border-radius: 5px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.footer a:hover {
  color: black;
  text-decoration: underline;
  background-color: white;
}
