.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  margin-top: 64px;
  flex-direction: column;
}

.movieBox {
  border: 1px solid green;
}
