.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  // margin-top: 64px;
  flex-direction: column;
}

.sectionHeader {
  background-color: #042541;
  margin-left: 150px;
  margin-right: 150px;
  opacity: 0.9;
}

.movieBox {
  border: 1px solid green;
}

.landingHeader {
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

.introHeader {
  text-transform: uppercase;
  text-align: center;
}

.searchSection {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

.searchInput {
  width: 50%;
  border-radius: 10em;
  height: 25px;
}

.nowPlayingField {
  padding: 100px 40px 100px 40px;
  h2 {
    padding-bottom: 40px;
    font-weight: bold;
  }
}

.personField {
  padding-left: 40px;
  padding-right: 40px;
  h2 {
    padding-bottom: 40px;
  }
}
