.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  margin-top: 64px;
  flex-direction: column;
}

.movieBox {
  border: 1px solid green;
}

.landingHeader {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.introHeader {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.searchSection {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

.searchInput {
  width: 50%;
  border-radius: 10em;
  height: 25px;
}

.nowPlayingField {
  padding-left: 40px;
  padding-right: 40px;
}
